<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Más</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <main class="settings-page">

    <span class="eyebrow">
      KENFINANCE
    </span>

    <h1>Más</h1>

    <p>
      Aquí se agruparán las funciones
      complementarias de KenFinance.
    </p>

    <div class="settings-preview">

      <article>
        Perfil
      </article>

      <article>
        Reportes
      </article>

      <article>
        Configuración
      </article>

      <article>
        Próximamente
      </article>

    </div>

  </main>

</ion-content>