<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KenFinance v2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <section>
      <h2>Perfil</h2>

      @if (isLoadingProfile()) {

        <p>Cargando perfil...</p>

      } @else if (profileError()) {

        <p>{{ profileError() }}</p>

      } @else if (profile(); as userProfile) {

        <p>
          <strong>
            Bienvenido, {{ userProfile.name }}
          </strong>
        </p>

        <p>
          Moneda base:
          {{ userProfile.currency }}
        </p>

      } @else {

        <p>No existe un perfil registrado.</p>

      }
    </section>

    <section>
      <h2>Cuentas</h2>

      @if (isLoadingAccounts()) {

        <p>Cargando cuentas...</p>

      } @else if (accountsError()) {

        <p>{{ accountsError() }}</p>

      } @else if (accounts().length > 0) {

        @for (account of accounts(); track account.id) {
          <article>
            <strong>{{ account.name }}</strong>

            <p>
              Tipo:
              {{ account.type }}
            </p>

            <p>
              Moneda:
              {{ account.currency }}
            </p>
          </article>
        }

      } @else {

        <p>No tienes cuentas registradas.</p>

      }
    </section>

    <ion-button
      type="button"
      [disabled]="isLoggingOut()"
      (click)="logout()"
    >
      @if (isLoggingOut()) {
        Cerrando sesión...
      } @else {
        Cerrar sesión
      }
    </ion-button>

  </div>
</ion-content>