<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KenFinance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KenFinance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Sesión iniciada correctamente</strong>

    <p>
      KenFinance v2 está conectado con Firebase Authentication.
    </p>

    <ion-button
      type="button"
      [disabled]="isLoggingOut"
      (click)="logout()"
    >
      @if (isLoggingOut) {
        Cerrando sesión...
      } @else {
        Cerrar sesión
      }
    </ion-button>
  </div>
</ion-content>